h1 {
    color: white;
    text-align: left;
}

.header {
    background-color: rgb(70, 56, 56);
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    display: flex;
    margin-left: auto;

}

.link {
    text-decoration: none;
    color: white;
    margin-left: auto;
    padding: 10px;
}

.link:hover {
    color: rgba(255, 255, 255, 0.712);
    text-decoration: underline;
}

